#menu ul{list-style:none;}

#menu ul li{display:inline;}

#menu ul li a{
	font:24px sans-serif;
	color: #FFF;
	font-weight:bold;
	background: #FF0000;
	text-decoration: none;
	float: left;
	padding:5px 10px;
	margin-left:3px;
}

#menu ul li a:hover{
	font:24px sans-serif;
	color: #87CEFA;
	background: #FFF;
}